#databaseListContainer, #databaseContainer {
    margin: 3em;
    border: 2px black solid;
    height: 70%;
}
.database {
    margin: 1em;
    padding: 1em;
    border-top: 1px solid black;
}
.deleteDbBtn, .viewDbBtn {
    float: right;
}