.dbType {
    text-transform: capitalize;
    font-size: 0.9em;
    padding-left: 0.5em;
    border-left: 1px solid lightgrey;
}
.dbVisibility {
    text-transform: capitalize;
    color: grey;
    font-size: 0.8em;
}
.local {
    color: dodgerblue;
}
.remote {
    color: midnightblue;
}