@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.ttf');
}
html {
    height: 100%;
}
body {
    height: 98%;
    font-family: 'Open Sans', sans-serif;
}
textarea {
    font-family: 'Open Sans', sans-serif;
    resize: none;
}
#homeContainer {
    display: grid;
    grid-template-rows: 15% 70% 15%;
}
#homepageMenu {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pageTitle {
    grid-row: 1;
    text-align: center;
}
.menuButton {
    margin: 0.2em;
    font-size: 1.5em;
    width: 8em;
    height: 2em;
}
#appVersion {
    grid-row: 3;
    align-self: end;
}

.container {
    margin: 3em;
    border: 2px black solid;
    height: 70%;
    padding: 1em;
    overflow: auto;
}
.list {
    margin-top: 1em;
    border-top: 1px solid black;
}
.listItem {
    padding: 1em;
    border-bottom: solid 1px lightgrey;
}
.listItem:last-child {
    border-bottom: 1px solid black;
}

.actionBtn {
    float: right;
}